.gameboard {
	height: 50%;
	aspect-ratio: 1;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.row {
	height: 15%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.box {
	height: 100%;
	aspect-ratio: 1;
	border: 3px solid var(--accent);
	text-shadow: 0.1rem 0.1rem 0.2rem #000;
	display: grid;
	place-items: center;
}
